@inject IJSRuntime JS
<div id="domSearch">
    <form>
        <a>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </a>
        <input id="search"/>
    </form>
</div>

@code {
    private int _count;
    private DotNetObjectReference<HyperTextMarkdownSearch>? objRef;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            objRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("main.input", objRef);
        }
    }
    
    [JSInvokable]
    public Task ReceiveCount(int value)
    {
        _count = value;
        OnCount.InvokeAsync(_count);
        StateHasChanged();
        return Task.CompletedTask;
    }
    [Parameter] public EventCallback<int> OnCount { get; set; }

    public ValueTask DisposeAsync()
    {
        objRef?.Dispose();
        return ValueTask.CompletedTask;
    }
}