<!-- --Copyright (c) 2026 Robert A. Howell -->

@namespace ProjectsPage.Components.Layout
@inherits LayoutComponentBase

<div id="main">
    <FrameSelection/>
    <main role="main" class="page-view">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
