<!-- --Copyright (c) 2026 Robert A. Howell -->

@page "/jit"
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@inject ITempDataDictionaryFactory TempDataFactory
@namespace ProjectsPage.Components.Primary

<PageTitle>Jit</PageTitle>

<article id="Jit">
    <h3>Jit Access Requests</h3>
    <div>
        <p>
            This page allows you to request access to private GitHub repositories.
            With a valid GitHub username, approval is passed by filling and submitting the form.
        </p>
        <div class="access-request-tile">
            @if (!string.IsNullOrEmpty(_jitResult))
            {
                <p>Result: @_jitResult</p>
            }
            else
            {
                <button type="button"
                        commandfor="view-jit-access"
                        command="show-modal">Request Access</button>
            }
        </div>
    </div>

</article>
<dialog id="view-jit-access">
    <div class="wrapper">
        <h2>Access request form: <span>RWB-TypeScript</span></h2>
        <p>Submitting this form requests the provided username access to RWB-TypeScript repository.</p>
        <form method="post" name="jit-form"
              action="/api/jit"
              autocomplete="off">
            <AntiforgeryToken/>
            <label>Username:
                <input name="username" type="text" autofocus
                       maxlength="39"
                       validationmessage="Username is too long (maximum is 39 characters)." required/></label>
            <input type="hidden" name="repositoryName" value="RWB-TypeScript"/>
            <button type="submit">Submit</button>
        </form>
        <button
            commandfor="view-jit-access"
            command="request-close">Close</button>
    </div>
</dialog>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? _jitResult;
    protected override void OnInitialized()
    {
        if (HttpContext == null) return;

        var tempData = TempDataFactory.GetTempData(HttpContext);
        _jitResult = tempData["JitResult"] as string;

        // Force it to persist the cleared state back as a cookie
        tempData.Remove("JitResult");
        tempData.Save();
    }

}