@page "/intro"
<PageTitle>roberthowell.dev</PageTitle>
<article>
    <img src="images/hallway_AI2.webp" alt="" width="250">
    <div class="content">
        <hgroup>
            <h1>roberthowell.dev</h1>
            <p>Author: Robert Howell</p></hgroup>
        <p>
            Welcome to my portfolio repository. This site serves as a centralized navigation hub for my projects. It features links in the navigation on the left which point to various websites, applications, and programs I've developed.
        </p>
        <p>
            Here, you can explore a live portfolio of my web work through a curated list; each link opens an embedded view for quick navigation and demonstration. The options on the left enable selective viewing, direct navigation, and easy URL copying to your clipboard.
        </p>
        <h3 class="toupper">Security Considerations To Keep In Mind</h3>
        <p>
            While it's enjoyable browsing and interacting with the embedded content here, please note that not all features work as you may expect due to the remote embedding. Feature dependencies may be limited or unavailable in this nested context for local storage, caching, or authentication. For the best experience, I recommend copying the link and opening it in a new tab.
        </p>
        <p>
            In detail, embedding external sites within this page goes against typical web security practices, which often prohibit advise against such configurations to avoid potential risks and uncertainties. However, I have enabled this in my domains to facilitate easy access. Please enjoy my content and, remember, you can access the sites directly using their origin URL.
        </p>
    </div>
</article>

@code {
    
}