<!-- --Copyright (c) 2026 Robert A. Howell -->

@using ProjectsPage.Domain
@namespace ProjectsPage.Components.Secondary

@if (!_isSortedNewest)
{
    <button class="details-panel-sort" @onclick="SortAllDateEnd">Newest</button>
}
else
{
    <button class="details-panel-sort" @onclick="SortAllDateStart">Oldest</button>
}

@code {
    private bool _isSortedNewest = true; //sort order starts as NEWEST
    private SortOrder SortOrderSelected { get; set; }

    [Parameter] public required string DeploymentAs { get; set; }

    [Parameter] public EventCallback<(SortOrder, string)> OnResortedListSelected { get; set; }

    [Parameter] public required List<FrameSelectionOption> DemosSelections { get; set; }
}