<!-- --Copyright (c) 2026 Robert A. Howell -->

@namespace ProjectsPage.Components.Secondary
@inherits ProjectsPage.Components.Secondary.SortSelectionsBase

@if (_isSortedNewest)
{
    <button class="details-panel-sort" @onclick="SortAllDateEnd">Oldest</button>
}
else
{
    <button class="details-panel-sort" @onclick="SortAllDateStart">Newest</button>
}

@code {
    private bool _isSortedNewest = true; //sort order starts as NEWEST
}
