<!-- --Copyright (c) 2026 Robert A. Howell -->

@using ProjectsPage.Domain
@namespace ProjectsPage.Components.Secondary

@if (!_isSortedAz)
{
    <button class="details-panel-sort" @onclick="SortDemosAz">A-Z</button>
}
else
{
    <button class="details-panel-sort" @onclick="SortDemosZa">Z-A</button>
}

@code {
    private bool _isSortedAz;
    private SortOrder SortOrderSelected { get; set; }

    [Parameter] public required string DeploymentAs { get; set; }

    [Parameter] public EventCallback<(SortOrder, string)> OnResortedListSelected { get; set; }

    [Parameter] public required List<FrameSelectionOption> DemosSelections { get; set; }
}
