<!-- --Copyright (c) 2026 Robert A. Howell -->

@namespace ProjectsPage.Components.Secondary
@inherits ProjectsPage.Components.Secondary.SortSelectionsBase

@if (_isSortedLangAz)
{
    <button class="details-panel-sort sortLangAz" @onclick="SortAllLangZa">Z-A (Lang)</button>
}
else
{
    <button class="details-panel-sort sortLangAz" @onclick="SortAllLangAz">A-Z (Lang)</button>
}

@code {
    private bool _isSortedLangAz;
}
