@using ProjectsPage.Models

@if (SelectedWebsite.SelectionDetails.SecondaryLanguage is not null && SelectedWebsite.SelectionDetails.SecondaryLanguage.Count > 0)
{

    <p class="mb0" data-visibility="none">
    @if(IsHoverElement)
    {
        <strong data-visibility="none">Secondary Language(s): </strong>
    }
    else {
        <span data-visibility="none">Secondary Language(s): </span>
    }

    @for (var i = 0; i < SelectedWebsite.SelectionDetails.SecondaryLanguage.Count; i++)
        {
            @if (SelectedWebsite.SelectionDetails.SecondaryLanguage.Count - 1 == i)
            {
                @SelectedWebsite.SelectionDetails.SecondaryLanguage[i]
                break;
            }
            else
            {
                @SelectedWebsite.SelectionDetails.SecondaryLanguage[i]
                <span data-visibility="none"> + </span>
            }
        }
    </p>
}

@code {
    [Parameter] public required FrameSelectionOption SelectedWebsite { get; set; }
    [Parameter] public required bool IsHoverElement { get; set; }
}
