<!-- --Copyright (c) 2026 Robert A. Howell -->

@using ProjectsPage.Domain
@namespace ProjectsPage.Components.Subcomponents

@if (!_isSortedNewest)
{
    <button class="details-panel-sort" @onclick="SortAllDateEnd">Newest</button>
}
else
{
    <button class="details-panel-sort" @onclick="SortAllDateStart">Oldest</button>
}

@code {
    private async Task SortAllDateStart()
    {
        SortOrderSelected = SortOrder.OLDEST;
        _isSortedNewest = false;
        await OnResortedListSelected.InvokeAsync((SortOrderSelected, DeploymentAs));
    }
    private async Task SortAllDateEnd()
    {
        SortOrderSelected = SortOrder.NEWEST;
        _isSortedNewest = true;
        await OnResortedListSelected.InvokeAsync((SortOrderSelected, DeploymentAs));
    }
    
    private bool _isSortedNewest = true; //sort order starts as NEWEST
    private SortOrder SortOrderSelected { get; set; }
    [Parameter] public required string DeploymentAs { get; set; }
    [Parameter] public EventCallback<(SortOrder, string)> OnResortedListSelected { get; set; }
    [Parameter]
    public required List<FrameSelectionOption> DemosSelections { get; set; }
}