@* --Copyright (c) 2026 Robert A. Howell *@

@page "/heartbeat-failures"
@using Microsoft.AspNetCore.Components.Web
@using ProjectsPage.Components.Secondary
@using ProjectsPage.Domain
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@namespace ProjectsPage.Components.Pages

@rendermode InteractiveServer

<PageTitle>Heartbeats-Failures | roberthowell.dev</PageTitle>
<article id="Heartbeat-Failures-Page">
    <HeartbeatNav/>
    <h3>Heartbeat Failures</h3>

    <HeartbeatTable Heartbeats="@(
                                Heartbeats.ConvertAll(i => new HeartbeatData
                                                           {
                                                                   Id = i.Id,
                                                                   Timestamp = i.RecordTimestamp,
                                                                   Agent = i.Agent,
                                                                   Project = i.ProjectName,
                                                                   Domain = i.Domain,
                                                                   RelativeUrl = i.UrlRel,
                                                                   ResponseCode = i.ResponseStatus
                                                           }))"
                    GetLoopDataSet="@_getLoopDataSet"
                    RecordComparison="@(Comparer<HeartbeatData>.Create((x, y) => y.Id.CompareTo(x.Id)))"/>
</article>
