<!-- --Copyright (c) 2026 Robert A. Howell -->

@page "/intro"
@using Microsoft.AspNetCore.Components.Web
@namespace ProjectsPage.Pages

<PageTitle>roberthowell.dev</PageTitle>
<article class="centered">
    <div class="content">
        <hgroup>
            <h1>Projects Hub</h1>
            <p>Developer: Robert Howell</p></hgroup>
        <p>
            Welcome to my portfolio repository. This site serves as a centralized navigation hub for my projects. Navigation links on the left pointing to various websites, applications, and programs I've developed. Each features detailed information about the project, including its purpose, technologies used, and a live demonstration.
        </p>
        <p>
            Here, you can explore my web work live of projects I currently host online; each selection opens an embedded view allowing the display and navigation of the website contents. The options on the left enable selective viewing, direct navigation, and easy URL copying to your clipboard.
        </p>
        <p>
            The panel's selections contain key data into the design, topography, and security. Each selection can be cross-searched for related keys or remove the embedded view to look into the project about page.
        </p>
        <img src="images/hallway_AI2.webp" alt="" width="250">
        <h3 class="toupper">Consider Security</h3>
        <p>
            While it's enjoyable browsing and interacting with the embedded content here, please note that not all features work as you may expect due to the remote embedding. Feature dependencies may be limited or unavailable in this nested context for local storage, caching, or authentication. For the best experience, I recommend copying the link and opening it in a new tab.
        </p>
    </div>
</article>

@code {

}
